$default-max-width: 900px;
$default-spacing: 20px;

/* Pallette */
$black: #2b2b2b;
$charcoal: #454545;
$red: #FF353E;
$orange: #FFB729;
$light-blue: #06BCCC;
$blue: #519399;
$dark-blue: #2C3E50;
$white: #E9F1DF;
$light-gray: rgb(180, 184, 185);

$primary: $blue;
